@font-face{
  font-family: Eesti Bold Italic;
  font-style: normal;
  src: url(~@/assets/fonts/GTEestiProDisplayTrialBold-Italic.woff) format("woff"), url(~@/assets/fonts/GTEestiProDisplayTrialBold-Italic.ttf) format("ttf");
}
@font-face{
  font-family: Eesti Ultra Bold Italic;
  font-style: normal;
  src: url(~@/assets/fonts/GTEestiProDisplayTrialUltraBold-Italic.woff) format("woff"), url(~@/assets/fonts/GTEestiProDisplayTrialUltraBold-Italic.ttf) format("ttf");
}

@font-face{
  font-family: Eesti Bold;
  font-style: normal;
  src: url(~@/assets/fonts/GTEestiDisplay-Bold.woff) format("woff"), url(~@/assets/fonts/GTEestiDisplay-Bold.ttf) format("ttf");
}

@font-face{
  font-family: Eesti Light;
  font-style: normal;
  src: url(~@/assets/fonts/GT-Eesti-Display-Light.woff) format("woff"), url(~@/assets/fonts/GT-Eesti-Display-Light.ttf) format("ttf");
}